<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.king.albumpicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application>

        <activity
            android:name=".ui.AlbumPickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AlbumPickerStyle" />
        <activity
            android:name=".ui.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumPickerStyle" />
        <activity
            android:name=".ui.SinglePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumPickerStyle" />
        <!--<activity-->
        <!--android:name=".camera.CameraActivity"-->
        <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
        <!--android:screenOrientation="portrait"/>-->

        <provider
            android:name=".util.AlbumFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

    </application>
</manifest>
